@charset "utf-8";
/* CSS Document */
/********************************      Sidebar      ********************************/

#logotext{
	font-size:21px;
	text-decoration:none;
}
#sidebar {
    background: url('../images/bg-body.gif') top left repeat-y;
    width: 230px;
    height: 1500px;
    position: absolute;
    left: 0;
    top: 0;
    color: #888;
    font-size: 11px;
}
#title{
	background: url('../images/bg-sidebar.gif') top -10px no-repeat;
}

#sidebar #sidebar-wrapper {
    margin: 0 0 0 9px;
}

#sidebar a,
#sidebar a:active {
    color:#ccc;
}

#sidebar a:hover {
    color:#fff;
}

#sidebar #sidebar-title {
    margin: 40px 0 40px 15px;
}

#sidebar #logo {
    margin: 40px 0 40px 0;
}

#sidebar #profile-links {
    padding: 0 15px 20px 15px;
    text-align: right;
    line-height: 1.5em;
}

/************ Sidebar Accordion Menu ************/

#sidebar #main-nav {
    width: 206px;
    padding: 0;
    margin: 0 0 0 15px;
    font-family: Helvetica, Arial, sans-serif;
}

#sidebar #main-nav li {
	list-style: none;
	padding-bottom: 10px;
	text-align: right;
	margin-right:-10px;/*--Arrow--*/
}

#sidebar #main-nav li a.nav-top-item {
    background: transparent url('../images/bg_menu_gray.png') right center no-repeat;
    padding: 10px 15px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    display: block;
    text-decoration: none;
}

#sidebar #main-nav li a.current{
    background-image: url('../images/bg-menu-item-current.gif') !important;
    color: #333;
    font-weight: bold;
}
                
#sidebar #main-nav li a.current:hover {
	color: #333;
}

#sidebar #main-nav ul {
	padding: 0;
	font-size: 12px;
	margin: 0;
}

#sidebar #main-nav ul li {
	list-style: none;
	margin: 0;
	text-align: right;
	padding: 0;
}

#sidebar #main-nav ul li a {
	padding: 8px 15px;
	display: block;
	color: #aaa;
	font-size: 13px;
	line-height: 1.2em;
}

#sidebar #main-nav ul li a:hover,
#sidebar #main-nav ul li a.current,
#sidebar #main-nav ul li a.current:hover {
	color: #fff;
}

#sidebar #main-nav ul li a.current{
	background: transparent url('../images/menu-current-arrow.gif') right center no-repeat !important;
}
				
/*-------End of Sidebar------------------------------------------*/

/************ Messages ************/
#messages{
	
}
#messages p, #messages form {
	border-top: 1px solid #ddd;
	padding: 10px 0;
}

#messages h4 {
}
				
#messages fieldset {
	margin: 0;
}
				
#messages textarea {
	margin: 0 0 15px 0;
}
/********************************      End of messages      ********************************/
/********************************      jQuery plugins styles      ********************************/

/*************** Facebox ***************/

#facebox .b {
  background:url(../images/b.png);
}

#facebox .tl {
  background:url(../images/tl.png);
}

#facebox .tr {
  background:url(../images/tr.png);
}

#facebox .bl {
  background:url(../images/bl.png);
}

#facebox .br {
  background:url(../images/br.png);
}

#facebox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: left;
}

#facebox .popup {
  position: relative;
}

#facebox table {
  border-collapse: collapse;
}

#facebox td {
  border-bottom: 0;
  padding: 0;
}

#facebox .body {
  padding: 10px;
  background: #fff;
  width: 370px;
}

#facebox .loading {
  text-align: center;
}

#facebox .image {
  text-align: center;
}

#facebox img {
  border: 0;
  margin: 0;
}

#facebox .footer {
  border-top: 1px solid #DDDDDD;
  padding-top: 5px;
  margin-top: 10px;
  text-align: right;
}

#facebox .tl, #facebox .tr, #facebox .bl, #facebox .br {
  height: 10px;
  width: 10px;
  overflow: hidden;
  padding: 0;
}

#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}

.facebox_hide {
  z-index:-100;
}

.facebox_overlayBG {
  background-color: #000;
  z-index: 99;
}
/*-------------------------------------------------------------------------*/

/********************************      Main Content      ********************************/

/************ Layout ************/

#main-content {
    margin: 0 0px 0 240px;
    padding: 20px 0 0 0;
}

.column-left {
    width: 48%;
    float: left;
}
                
.column-right {
	width: 48%;
	float: right;
}
               
#page-intro {
	font-size: 17px;
	padding: 0 0 20px 0;
}

				
#footer {
	border-top: 1px solid #ccc;
	margin: 40px 0 0 0;
	padding: 20px 0;
	font-size: 12px;
}
