@charset "utf-8";
/* CSS Document */

#userinfo{
	font-size:12px;
	font-family:"微软雅黑", "黑体", sans-serif;
}

#userinfo ul{
	list-style-type:none;
}
#userinfo li{
	margin:5px;
}
#userinfo  b{
	color:#666;
}

#roles{
	font-size:12px;
	font-family:"微软雅黑", "黑体", sans-serif;
}

#permissionDeny,#permissionAllow,#delete{
	font-size:14px;
	font-weight:bold;
	font-family:"微软雅黑", "黑体", sans-serif;
}

